logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
node_modules
npm-debug.log
yarn-error.log
.npm
.eslintcache
.node_repl_history
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
.DS_Store
Thumbs.db
*.lock